@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    font-size: 2vh;
}
* {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    color: white;
    background-color: rgb(13, 13, 13);
    padding: 2vh;
    text-align: center;
}
a {
    color: inherit;
}
body {
    color: white;
    background-color: rgb(16, 16, 16);
}
#pdp {
    border-radius: 10%;
    object-fit: cover;
    width: 5vh;
    height: 5vh;
    transition: 0.2s;
}
#W {
    color: rgb(134, 228, 134);
}
#L {
    color: rgb(255, 94, 94);
}
#D {
    color: gray;
}
.head-score {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.game-card {
    cursor: default;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    width: 40vh;
    padding: 1vh;
    margin: 1vh;
    transition: 0.2s;
}
.game-card:hover {
    /*background-color: rgb(27, 27, 27);*/
    border: 1px solid rgb(53, 53, 53);
}
.container-game {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#view {
    color: rgb(162, 162, 255);
    transition: 0.2s;
}

#view:hover{
    opacity: 0.8;
}
#gameID {
    color: gray;
    font-size: 0.8rem;
}